.well{id: dom_id(discussion)}
  .row
    .col-md-10
      %h4= discussion.title
      %p= discussion.body
    .col-md-2
      = button_to "Delete", [project, discussion], method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger", remote: true

  %h4 Post a new Comment
  .form
    = form_for [discussion, comment], remote: true do |f|
      = f.text_area :body, rows: 3, class: "form-control"
      %br/
      = f.submit class: "btn btn-success btn-sm"
    %hr

  .comments
    - discussion.comments.each do |comment|
      = render partial: "/comments/comment", locals: {discussion: discussion, comment: comment}
      