- if @discussion.errors.any?
  $(".discussion-errors").html("#{j render partial: 'shared/standard_errors', locals: {object: @discussion}}");
- else
  $(".discussions").prepend("#{j render partial: "/discussions/discussion", locals: {project: @project, discussion: @discussion, comment: Comment.new} }");
  $(".discussion-errors").html("");

  