%h1 Discussions
%h2= @discussion.title
%h3
  = @discussion.body
  %h3
    / = button_to "Delete", [@project, @discussion], method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"
    









