%h2 My Favorite Projects

- @favorites.each do |favorite|
  - project_id =  favorite.project_id
  - project = Project.find(project_id)
  .well
    %h3= link_to project.title, project_path(project)
    %h4= project.description 


