.div{id: dom_id(comment)}
  = comment.body
  %br/
  = link_to "Edit", edit_discussion_comment_path(discussion, comment), class: "btn btn-primary btn-sm", remote: true, data: {toggle: "modal", target: "#edit-comment"}
  = button_to "Delete", [discussion, comment], method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm", remote: true
  %hr

