
$("##{dom_id(@discussion)} .comments").prepend("#{j render partial: '/comments/comment', locals: {discussion: @discussion, comment: @comment} }");

$("##{dom_id(@discussion)} #comment_body").val("");


