- if @comment.errors.any?
  $("#edit-comment .edit-comment-errors").html("#{j render partial: 'shared/standard_errors', locals: {object: @comment}}")

- else 
  $("##{dom_id(@comment)}").html("#{j render partial: 'comments/edited_comment', locals: {discussion: @discussion, comment: @comment}}");

  $("#edit-comment").modal('hide');

  $("#edit-comment .edit-comment-errors").html("");


