
.form
  =form_for [@project, @task], remote: true do |f|
    .form-group
      = f.text_area :body, class: "form-control", rows: 5
    .form-group
      = f.label "Done"
      = f.check_box :action, :value => 1
    
    = f.submit class: "btn btn-primary"