.well{id: dom_id(task)}
  #task-body= task.body
  = link_to "Edit", edit_project_task_path(@project, task), remote: true, data: {toggle: "modal", target: "#edit-task"}, class: "btn btn-info"
  = button_to "Delete", [project, task], method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger", remote: true
  - if task.action
    .pull-right Done
  - else
    .pull-right Not Done
  

      
