
- if @task.errors.any?
  $(".task-errors").html("#{j render partial: "/shared/standard_errors", locals: {object: @task} }");
  $(".flash-messages").html("#{j render '/layouts/flash_messages'}");
- else
  $(".tasks").prepend("#{j render partial: "/tasks/task", locals: {project: @project, task: @task} }");

  $("#task_body").val("");
  $(".task-errors").html("");
  $(".flash-messages").html("");
  
  
