- if @task.errors.any?
  $("#edit-task .edit-task-errors").html("#{j render partial: 'shared/standard_errors', locals: {object: @task}}");
- else 
  $("##{dom_id(@task)}").html("#{j render partial: 'tasks/edited_task', locals: {project: @project, task: @task}}");

  $("#edit-task").modal('hide');
  $("#edit-task .edit-task-errors").html("");



