
%h2= project.title
%p= project.description
%p= "By: " + "#{project.user.name_display}"
= link_to "Edit", edit_project_path(@project), class: "btn btn-primary", remote: true, data: {toggle: "modal", target: "#edit-project"}
= link_to "Delete", @project, method: :delete, data: {confirm: "Are you sure you want to delete this project?"}, class: "btn btn-danger"

- if user_signed_in?
  - if project.user != current_user
    - if @project.favorites.exists?(user: current_user)
      = link_to "<i class='glyphicon glyphicon-star'></i>".html_safe, [project, favorite], class: "btn btn-default btn-sm", method: :delete 
    - else
      = link_to "<i class='glyphicon glyphicon-star-empty'></i>".html_safe, [project, Favorite.new], class: "btn btn-default btn-sm", method: :post

/add tag form
#tag-form
- if user_signed_in?
  = form_for [project, Tag.new], remote: true do |f|
    / = f.label "Add Tag"
    = f.text_field :name, placeholder: "Add Tag"
    %br
    %br
    = f.submit class: "btn btn-success btn-sm"

