.form
  = form_for project, remote: true do |f|
    .form-group
      = f.label :title
      = f.text_field :title, class: "form-control"
    .form-group
      = f.label :description
      = f.text_area :description, class: "form-control"
    = f.submit class: "btn btn-success"
