- if @project.errors.any?
  $(".project-errors").html("#{j render partial: '/shared/standard_errors', locals: {object: @project} }");
- else
  $(".projects").prepend("#{j render partial: '/projects/project', locals: {project: @project} }");
  $("#new-project").modal('hide');
  $("#project_title").val("");
  $("#project_description").val("");

  $(".project-errors").html("");
