%h1 Project Management Tool

.row
  .col-md-3.col-md-offset-1
    = link_to "Create new Project", "#", class: "btn btn-success", data: {toggle: "modal", target: "#new-project"}
  .col-md-3.col-md-offset-5
    = link_to "My Favorite Projects", favorites_path, class: "btn btn-primary"


#new-project.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} &#215;
        %h4#myModalLabel.modal-title Create new Project
      .modal-body
        .project-errors
        = render partial: "/projects/form", locals: {project: @project}
        



.projects
  - @projects.each do |project|
    = render partial: "/projects/project", locals: {project: project}

    


