%br
.well{id: dom_id(@project)}
  %h2= @project.title
  %p= @project.description
  %p= "By: " + "#{@project.user.name_display}"
  = link_to "Edit", edit_project_path(@project), class: "btn btn-primary", remote: true, data: {toggle: "modal", target: "#edit-project"}
  = link_to "Delete", @project, method: :delete, data: {confirm: "Are you sure you want to delete this project?"}, class: "btn btn-danger"


  //add favorite button
  - if user_signed_in?
    - if @project.user != current_user
      - if @project.favorites.exists?(user: current_user)
        = link_to "<i class='glyphicon glyphicon-star'></i>".html_safe, [@project, @favorite], class: "btn btn-default btn-sm", method: :delete 
      - else
        = link_to "<i class='glyphicon glyphicon-star-empty'></i>".html_safe, [@project, Favorite.new], class: "btn btn-default btn-sm", method: :post


  //add tag form
  .tag-errors
  #tag-form
  - if user_signed_in?
    = form_for [@project, Tag.new], remote: true do |f|
      / = f.label "Add Tag"
      = f.text_field :name, placeholder: "Add Tag"
      %br
      %br
      = f.submit class: "btn btn-success btn-sm"
  
  .tags
    - @tags.each do |tag|
      = render partial: "tags/tag", locals: {project: @project, tag: tag}

- if user_signed_in?
  - if @project.user != current_user
    - if @project.members.exists?(user_id: current_user.id)
      #remove-member= button_to "Delete me as member to this project", [@project, @member], class: "btn btn-danger", method: :delete, remote: true
    - else
      #add-member= button_to "Add me as member to this project", [@project, Member.new], class: "btn btn-primary", remote: true

.members
  - if @members.length > 0
    %h4 Members
    - @members.each do |member|
      = render partial: 'members/member', locals: {member: member}




%h3 Create a Task
.form
  = form_for [@project, @task],remote: true do |f|
    .form-group
      = f.text_area :body,  class: "form-control"
      = f.hidden_field :action, :value => 0
    %br
    = f.submit class: "btn btn-success"

.task-errors

- if @ordered_list.length > 0
  %h3 Tasks

.tasks
  - @ordered_list.each do |task|
    = render partial: "/tasks/task", locals: {project: @project, task: task}



%h3 Create a new Discussion
.form
  = form_for [@project, @discussion], remote: true do |f|
    .form-group
      = f.label :title
      = f.text_field :title, class: "form-control"
    .form-group
      = f.label :body
      = f.text_field :body, class: "form-control"
      .create-button= f.submit class: "btn btn-success"

.discussion-errors
.discussions
  - @project.discussions.each do |discussion|
    = render partial: "/discussions/discussion", locals: {project: @project, discussion: discussion, comment: @comment}



/Empty Modal for editing a task
#edit-task.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} &#215;
        %h4#myModalLabel.modal-title Edit Task
      .edit-task-errors
      .modal-body
        
      .modal-footer

/Empty Modal for editing a comment
#edit-comment.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} &#215;
        %h4#myModalLabel.modal-title Edit Comment
      .edit-comment-errors
      .modal-body
        
      .modal-footer

/Empty Modal for editing a project
#edit-project.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} &#215;
        %h4#myModalLabel.modal-title Edit Project
      .edit-project-errors
      .modal-body
        
      .modal-footer




