- if @project.errors.any?
  $(".edit-project-errors").html("#{j render partial: 'shared/standard_errors', locals: {object: @project} }");

- else
  $("##{dom_id(@project)}").html("#{j render partial: 'projects/edited_project', locals: {project: @project, favorite: @favorite} }");

  $("#edit-project").modal('hide');

  $(".edit-project-errors").html("");



