- if @tag.errors.any?
  $(".tag-errors").html("#{j render partial: 'shared/standard_errors', locals: {object: @tag} }");
- else
  $(".tags").prepend("#{j render partial: 'tags/tag', locals: {project: @project, tag: @tag}}");
  $("#tag_name").val("");
  $(".tag-errors").html("");
