!!!
%html
  %head
    %title ProjectManagement1
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.nav.navbar-default
      .container-fluid
        %ul.nav.navbar-nav
          %li= link_to "Home", root_path
        %ul.nav.navbar-nav.pull-right
          - if user_signed_in?
            %li= link_to current_user.name_display, edit_user_registration_path
            %li= link_to "Sign Out", destroy_user_session_path, method: :delete
          - else
            %li= link_to "Sign In", new_user_session_path

    .container
      .flash-messages= render "/layouts/flash_messages"
      = yield

