$(".members").prepend("#{j render partial: 'members/member', locals: {member: @member} }");
$("#add-member").html("#{j button_to "Delete me as member to this project", [@project, @member], class: "btn btn-danger", method: :delete, remote: true}");