$("##{dom_id(@member)}").fadeOut(1000, function() { $(this).remove() });
$("#add-member").html("#{j button_to "Add me as member to this project", [@project, Member.new], class: "btn btn-primary", remote: true}");


